* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

main {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 320px;                
  margin: auto;              
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;      /* label on top, input under it */
  text-align: left;            /* aligns labels to left */
}

label {
    margin-top:20px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #e0e0e0;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  padding: 12px;
  border: 2px solid #ff0000;
  border-radius: 8px;
  font-size: 1rem;
  background: #fff;
  color: #000;
  
}

button {
  padding: 15px 25px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #0077ff;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #005fcc;
}